.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.theNav{
  background: rgb(0,11,255);
background: linear-gradient(185deg, rgba(0,11,255,1) 0%, rgba(0,140,255,1) 50%, rgba(0,53,97,1) 100%, rgba(0,0,0,0) 100%);
}

.navbar{
  width: 100vw;
}

.section1{
  display: flex;
  flex-direction: row;
}

.box1{
width: 33.3vw;
display: flex;
justify-content: center;
align-items:  center;
color:white

}

.box2{
  width: 33.3vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box3{
  width: 33.3vw;
  display: flex;
  justify-content: center;
  align-items:  center;
  color:white
}

li{

  display: flex;
  flex-direction: row;
}

li ul {
  width: 33.3vw;
  display: flex;
  justify-content: center;
  margin: 0%
}

.mainContainer{
  background: linear-gradient(to right, rgb(203, 52, 181), rgb(68, 166, 187))
}